<header>
  <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", pages_home_path %></li>
      <li><%= link_to "About", pages_about_path %></li>
      <li><%= link_to "Help", pages_help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>
